:root {
    --primary-color: #6B784E;
    --secondary-color: #F2EED6;
    --text-color: #333;
    --font-family: "EB Garamond", serif;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;

}

.carousel-container {
    width: 100%;
    /* max-width: 800px; */
    position: relative;
    overflow: hidden;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.carousel-slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: .8em;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    padding: 0 15px;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.logo-img {
    width: 140px;
}

.img-container {
    width: 100%;
    height: auto;
    background-size: contain;
}

#about {
    margin-top: 3rem;
}

.about-text-container {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 20px;
}

.about-title {
    font-size: 2.8rem;
}

.about-text {
    font-size: 1.5rem;
    font-weight: 500;
}

.about-img-bottom {
    width: 15%;
    position: absolute;
    right: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

#special {
}

.container-special {
    max-width: 60%;
    margin: 0 auto;
}

#products {
    /* min-height: 100vh; */
}

.products-title {
    font-size: 2.8rem;
    margin: 1px 0;
}

.products-subtitle {
    font-size: 1.2rem;
}

.products {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.img-product {
    width: 80%;
    border-radius: 50%;
}

.img-product:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#feedback {
    height: 100vh;
}

.form-container {
    background-color: var(--secondary-color);
}

.form-text {
    font-weight: 600;
    /* color: #F5F5F5; */
}

.form-control {
    background-color: #f8f8f8; 
    border-color: var(--primary-color);    
    color: #333;             
}

.form-control:focus {
    background-color: #fff; 
    border-color: #6c757d;  
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
}

.btn {
    background-color: #5a6452; 
    font-weight: 500;
    border: 1px solid #79876e;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #485043; 
}

.rodape {
    color: var(--secondary-color);
}

.link-rodape {
    color: #232222;
    text-decoration: none;
}

.container-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

