@import url('./about.css');
@import url('./products.css');
@import url('./feedback.css');
@import url('./rodape.css');

:root {
  --primary-color: #6B784E;
  --secondary-color: #F2EED6;
  --text-color: #333;
  --font-family: "Lora", serif;
}

body {
background-color: var(--primary-color);
font-family: var(--font-family);
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
color: #1c1b1b;

}

.carousel-container {
  width: 100%;
  /* max-width: 800px; */
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 4px 0;
  display: flex
  align-items: center;
}

.carousel-slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: .8em;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  padding: 0 15px;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.logo-img {
  width: 110px;
}

.container-header {
  height: 100vh;
}

.nav-link:hover {
  color: #232222;
  transition: color 0.3s ease;
  font-weight: 500;
}

.container-header {
  position: relative;
  width: 100%;
  height: 85vh;
  background: url('/images/MinimalistSkincare.png') center/cover no-repeat;
  opacity: 0.5;
}

.container-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-text {
  position: absolute;
  top: 10%;
  right: 5%;
  max-width: 30%;
  text-align: right;
}

.header-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  line-height: 1.4;
  color: #2b2a2a;
  font-weight: normal;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #f5e6cc; /* bege claro */
  color: #1a1a1a;
  padding: 12px 20px;
  border-radius: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid;
}

.cta-btn:hover {
  background-color: #1a1a1a;
  color: #f5e6cc;
}

.cta-btn svg {
  flex-shrink: 0;
}



