#products {
  padding: 3rem 1rem;
}

.products-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1px 0;
}

.products-subtitle {
  font-size: 1rem;
  font-weight: 500;
}

.products {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.img-product {
  width: 90%;
  border-radius: 50%;
}

.img-product:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 880px) {
  #products {
    padding: 3rem 0rem;
  }

  .products-title {
    font-size: 2rem;
  }

  .img-product {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  #products {
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
  }

  .products-title {
    font-size: 2rem;
  }

  .img-product {
    width: 90%;
  }
}





